html
  head
    title=title
  body
    header(style='background:#EEE; padding:10px')
      a(href='/') My shopping list for tomorrow
      span  | 
      a(href='/Shopping-List') View shopping list
      span  | 
      a(href='/Add-Product') Add products
      span  | 
      a(href='/About') About my shopping list

    if errMsg
      div(style='background:red;color:white; margin:20px 10px 10px 10px;padding:10px') #{errMsg}
